<footer>
  <div class="footer__left">
    <p class="left__text">
      CSS <br />
      IS <br />
      AWESOME
    </p>
  </div>

  <div class="footer__center">
    <p class="center__text">nabthat</p>
  </div>

  <div class="footer__right">
    <label class="dropdown">
      <div class="dropdown__button"><span>POKAŻ</span></div>

      <input type="checkbox" class="dropdown__input" id="dropdown" />

      <ul class="dropdown__list">
        <li (click)="onResetClick()" class="dropdown__item">
          ZRESETUJ USTAWIENIA
        </li>
        <li (click)="onAddNameClick()" class="dropdown__item">
          POKAŻ DANE OSOBOWE
        </li>
      </ul>
    </label>
  </div>
</footer>
