@import "../../../../scss/variables";

.form-block {
  &__title {
    font-size: 1.6rem;
    font-weight: $fw-700;
    margin-bottom: 4rem;
  }
}

.content {
  &__button {
    padding: 0.8rem 2.8rem;
    margin: 1.4rem;
    color: $light-grey;
    background: none;
    border: 1px solid $white;
    border-radius: 3px;
    transition-property: background-color, color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    cursor: pointer;

    &:hover {
      color: $white;
      background-color: $orange;
    }
  }
}
