@import "../../../../scss/variables";

.block {
  &__title {
    font-size: 1.6rem;
    font-weight: $fw-700;
    margin-bottom: 4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__content {
    font-size: 1.3rem;
    color: $light-grey;
    margin: 0;
  }
}