<h3>BLOK PIERWSZY</h3>
<div class="option">
  <input
    class="option__input"
    type="radio"
    id="first"
    name="option"
    value="first"
    checked
  />
  <label class="option__label" for="first">Opcja pierwsza</label>
</div>

<div  class="option">
  <input
    class="option__input"
    type="radio"
    id="second"
    name="option"
    value="second"
  />
  <label class="option__label" for="second">Opcja druga</label>
</div>

<div  class="option">
  <input
    class="option__input"
    type="radio"
    id="third"
    name="option"
    value="third"
  />
  <label class="option__label" for="third">Opcja losowa</label>
</div>
